# =========================
# Configuración de Django
# =========================
SECRET_KEY=clave-local-sisbar
DEBUG=True

# =========================
# Hosts permitidos (LOCAL)
# =========================
ALLOWED_HOSTS=localhost,127.0.0.1

# =========================
# Base de datos
# (SQLite local, NO Render)
# =========================
# DATABASE_URL=sqlite:///db.sqlite3  # ❌ NO USAR

# =========================
# Email (opcional, no afecta)
# =========================
# EMAIL_HOST_USER=tu-email@gmail.com
# EMAIL_HOST_PASSWORD=tu-password-de-aplicacion
